@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: normal;
  src: local('Tangerine'), url('wo.otf') format('truetype');
}
body {
  font-family: 'Tangerine', serif;
  font-size: 20px;
}
